.expenseslist-content {
    background: $off-white;
    border    : 1px solid $grey-border;
}

.expenseslist-content__title {
    display        : flex;
    justify-content: space-between;
    padding        : 1.6rem;

    >* {
        margin: 0;
    }
}

.expenselist-content__layout {
    border       : 1px solid $grey-border;
    border-top   : none;
    border-bottom: none;
}

.expenselist-item {
    border-bottom: 1px solid $grey-border;
    transition   : background .3s ease;

    &:hover {
        background: $off-white;
    }
}

div.expenselist-item__name {
    h1 {
        margin    : 0 0 0.6rem 0;
        word-break: break-all;
        font-size : larger
    }

    p {
        margin   : 0;
        font-size: small;
    }
}

div.expenselist-item__amount>p {
    margin: 0 0 0 5px;
    color : red;
}

.expenselist-item--link {
    @extend .expenseslist-content__title;
    align-items    : center;
    text-decoration: none;
    color          : $dark-blue-header;
}

.expenselist-item__empty {
    text-align : center;
    font-weight: 500;
    color      : $dark-blue-header;
    font-size  : large;
}