//other UI expenselist


.list-header {
    background     : $off-white;
    border         : 1px solid $grey-border;
    display        : flex;
    justify-content: space-between;
    padding        : $s-size $m-size;
}

.list-item-body {
    //for mobile
    margin-bottom: $m-size;

    //for desktop
    @media(min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    //for mobile
    border         : 1px solid $grey-border;
    border-top     : none;
    color          : $dark-grey;
    display        : flex;
    flex-direction : column;
    padding        : $s-size;
    text-decoration: none;
    transition     : background .3s ease;

    &:hover {
        background: $off-white;
    }

    //for desktop
    @media(min-width:$desktop-breakpoint) {
        flex-direction : row;
        justify-content: space-between;
        padding        : $m-size;
        align-items    : center;
    }
}

.list-item--message {
    align-items    : center;
    color          : $dark-grey;
    justify-content: center;
    padding        : $m-size;

    &:hover {
        background: :none;
    }
}

.list-item__title {
    margin    : 0;
    word-break: break-all;
}

.list-item__sub-title {
    color    : $dark-grey;
    font-size: 1.4rem;
}

.list-item__data {
    //for mobile
    margin: $s-size 0 0 0;

    //for desktop
    @media width(min-width:$desktop-breakpoint) {
        margin      : 0;
        padding-left: $s-size;
    }
}