.totalexpense-header {
    background     : $off-white;
    background-size: cover;
    padding        : $l-size 0;
}

.totalexpense-header__action {
    margin: $m-size 0 0 0;
}

.totalexpense-content__title {
    margin     : 0;
    font-weight: 100;

    span {
        font-weight: 600;
    }
}