//font-size
$s-size        : 1.2rem;
$m-size        : 1.6rem;
$l-size        :3.2rem;
$xl-size       :4.8rem;
$btn-font-size : 1.5rem;

$desktop-breakpoint : 45rem;

//colors
$dark-grey       : #333333;
$blue-button     :#2685BD;
$dark-blue-header: #254654;
$secondary       :#5A6268;
$off-white       : #F9F7F9;
$grey-border     : #DBDBDB;